@model Team5Project.Models.Branch_Vehicle_Request
@{
    ViewBag.Title = "AdminApprovesBA";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("RequestApprove", "Login"))
{
    <table>
        <tr>
            <td><strong>AS ON DATE</strong></td>
            <td>@Html.TextBoxFor(a => a.As_On_Date, new { @readonly = "readonly" })</td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><strong>VEHICLE ID</strong></td>
            <td>@Html.TextBoxFor(a => a.Vehicle_id, new { @readonly = "readonly" })</td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><strong>BRANCH ID</strong></td>
            <td>@Html.TextBoxFor(a => a.Branch_id, new { @readonly = "readonly" })</td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><strong>STATUS</strong></td>
            <td>@Html.TextBoxFor(a => a.Status, new { @readonly = "readonly" })</td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><strong>NO OF VEHICLES REQUESTED</strong></td>
            <td>@Html.TextBoxFor(a => a.No_Of_Vehicles_Requested, new { @readonly = "readonly" })</td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><strong>ENTER NO OF VEHICLES TO APPROVE</strong></td>
            <td>@Html.TextBox("txtnovA")</td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><input type="submit" value="APPROVE" class="btn-success"/></td>
        </tr>


    </table>


}


