@model Team5Project.Models.Branch_Vehicle_Request
@{
    ViewBag.Title = "AdminPending";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AdminApprovesBA", "Login"))
{
    <table border="1">
        <tr>
            <td><strong>AS ON DATE</strong></td>
            <td><strong>VEHICLE ID</strong></td>
            <td><strong>BRANCH ID</strong></td>
            <td><strong>STATUS</strong></td>
            <td><strong>NO OF VEHICLES REQUESTED</strong></td>
            <td>SELECT</td>
        </tr>
        @foreach (var i in ViewBag.L as IList<Team5Project.Models.Branch_Vehicle_Request>)
        {
            <tr>
                <td style="color:darkblue;"><strong>@i.As_On_Date</strong></td>
                <td style="color:darkblue;"><strong>@i.Vehicle_id</strong></td>
                <td style="color:darkblue;"><strong>@i.Branch_id</strong></td>
                <td style="color:darkblue;"><strong>@i.Status</strong></td>
                <td style="color:darkblue;"><strong>@i.No_Of_Vehicles_Requested</strong></td>
                <td>@Html.RadioButton("rdb", i.Branch_id)</td>

            </tr>

        }

        <tr>
            <td><input type="submit" value="Approve" class="btn-success"/></td>
        </tr>

    </table>
}



